---
http_interactions:
- request:
    method: delete
    uri: http://platnosci-dev5.dc2/api/v2/order/28161ZT5TF131121GUEST000P01.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      openpayu-signature:
      - sender=45654;signature=69c369ae89fba8f8183f6534a1410b1b;algorithm=MD5
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      openpayu-signature:
      - signature=06227acee76617a610039a273faed13f;algorithm=MD5;sender=checkout;content=DOCUMENT;
      x-openpayu-signature:
      - signature=06227acee76617a610039a273faed13f;algorithm=MD5;sender=checkout;content=DOCUMENT;
      content-language:
      - pl
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"OpenPayU":{"OrderCancelResponse":{"Status":{"StatusCode":"SUCCESS","StatusDesc":"Request
        successful"},"ExtOrderId":"1342","OrderId":"28161ZT5TF131121GUEST000P01"}}}'
  recorded_at: Thu, 21 Nov 2013 14:32:35 GMT
recorded_with: VCR 2.6.0
