---
http_interactions:
- request:
    method: post
    uri: http://platnosci-dev5.dc2/api/v2/order.json
    body:
      encoding: US-ASCII
      string: ! '{"OpenPayU":{"OrderCreateRequest":{"MerchantPosId":"45654","CustomerIp":"127.0.0.1","ExtOrderId":1342,"OrderUrl":"http://localhost/","Description":"New
        order","CurrencyCode":"PLN","TotalAmount":10000,"NotifyUrl":"http://localhost/","ContinueUrl":"http://localhost/","ValidityTime":"48000","Buyer":{"email":"dd@ddd.pl","phone":"123123123","first_name":"Jaroslaw","last_name":"Testowy","language":"pl_PL","NIN":"123456","validation_context":null,"errors":{}},"Products":{"Product":{"Name":"Mouse","UnitPrice":10000,"Quantity":1,"AllErrors":{},"ValidationContext":null,"Errors":{}}},"PayMethods":{"PayMethod":{"Type":"CARD_TOKEN","Value":"TOKC_WIPWVM13M7L0HTXS0YO2JPJ72HD","AllErrors":{},"ValidationContext":null,"Errors":{}}},"ReqId":"{5408b889-e237-4dda-898a-6b4f3063bb9e}","AllErrors":{},"ValidationContext":null,"Errors":{}}}}'
    headers:
      content-type:
      - application/json
      openpayu-signature:
      - sender=45654;signature=f9a7644bd9a7bb7b97613a7aaaec7f34;algorithm=MD5
  response:
    status:
      code: 200
      message: OK
    headers:
      openpayu-signature:
      - signature=2a033c63e6f7a3ad95e927c6019dc7c1;algorithm=MD5;sender=checkout;content=DOCUMENT;
      x-openpayu-signature:
      - signature=2a033c63e6f7a3ad95e927c6019dc7c1;algorithm=MD5;sender=checkout;content=DOCUMENT;
      content-language:
      - pl
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"OpenPayU":{"OrderCreateResponse":{"Status":{"StatusCode":"SUCCESS"},"OrderId":"4SHBNHDMWP130923GUEST000P01","ResId":"{60034440-8c0d-4fb6-b82b-3fe8eb2a21eb}","PayMethods":{"PayMethod":{"Value":"TOKC_WIPWVM13M7L0HTXS0YO2JPJ72HD","Type":"CARD_TOKEN","Card":{"ExpirationYear":"2016","ExpirationMonth":"4","Number":"444433******1111"}}}}}}'
  recorded_at: Wed, 25 Sep 2013 11:32:55 GMT
- request:
    method: post
    uri: http://platnosci-dev5.dc2/api/v2/order.xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n        <OpenPayU xmlns=\"http://www.openpayu.com/20/openpayu.xsd\"><OrderCreateRequest
        xsi:type=\"OrderCreateRequest\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n
        \ <MerchantPosId>45654</MerchantPosId>\n  <CustomerIp>127.0.0.1</CustomerIp>\n
        \ <ExtOrderId>1342</ExtOrderId>\n  <OrderUrl>http://localhost/</OrderUrl>\n
        \ <Description>New order</Description>\n  <CurrencyCode>PLN</CurrencyCode>\n
        \ <TotalAmount>10000</TotalAmount>\n  <NotifyUrl>http://localhost/</NotifyUrl>\n
        \ <ContinueUrl>http://localhost/</ContinueUrl>\n  <ValidityTime>48000</ValidityTime>\n
        \ <Buyer>\n    <email>dd@ddd.pl</email>\n    <phone>123123123</phone>\n    <first-name>Jaroslaw</first-name>\n
        \   <last-name>Testowy</last-name>\n    <language>pl_PL</language>\n    <NIN>123456</NIN>\n
        \   <validation-context nil=\"true\"/>\n    <errors/>\n  </Buyer>\n  <Products>\n
        \   <Product>\n      <Name>Mouse</Name>\n      <UnitPrice>10000</UnitPrice>\n
        \     <Quantity>1</Quantity>\n      <AllErrors>\n      </AllErrors>\n      <ValidationContext
        nil=\"true\"/>\n      <Errors/>\n    </Product>\n  </Products>\n  <PayMethods>\n
        \   <PayMethod>\n      <Type>CARD_TOKEN</Type>\n      <Value>TOKC_C2BLRLMLXAFUPVOVRT964ONFFVY</Value>\n
        \     <AllErrors>\n      </AllErrors>\n      [...]
