---
http_interactions:
- request:
    method: get
    uri: http://platnosci-dev5.dc2/api/v2/order/4SHBNHDMWP130923GUEST000P01.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      openpayu-signature:
      - sender=45654;signature=88f4b66ae0fcc06db210830ded35bd96;algorithm=MD5
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      openpayu-signature:
      - signature=f856d5faa8e06505965a8bbf4a84eb80;algorithm=MD5;sender=checkout;content=DOCUMENT;
      x-openpayu-signature:
      - signature=f856d5faa8e06505965a8bbf4a84eb80;algorithm=MD5;sender=checkout;content=DOCUMENT;
      content-language:
      - pl
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"OpenPayU":{"OrderRetrieveResponse":{"Status":{"StatusCode":"SUCCESS","StatusDesc":"Request
        processed successfully."},"Orders":{"Order":{"ExtOrderId":"1342","Description":"New
        order","Products":{"Product":{"Name":"Mouse","Quantity":"1","UnitPrice":"10000"}},"Buyer":{"CustomerId":"guest"},"OrderId":"4SHBNHDMWP130923GUEST000P01","CurrencyCode":"PLN","CustomerIp":"127.0.0.1","Status":"COMPLETED","NotifyUrl":"http://localhost/","ValidityTime":"48000","MerchantPosId":"45654","PayMethod":{"Type":"CARD_TOKEN"},"OrderCreateDate":"2013-09-23T14:47:06.091+02:00","OrderUrl":"http://localhost/","TotalAmount":"10000"}}}}}'
  recorded_at: Wed, 25 Sep 2013 12:08:30 GMT

- request:
    method: get
    uri: http://platnosci-dev5.dc2/api/v2/order/4SHBNHDMWP130923GUEST000P01.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      openpayu-signature:
      - sender=45654;signature=a6424a3778b72b69f08efb1ee4d1133c;algorithm=MD5
      content-type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      openpayu-signature:
      - signature=81b80c24c14da626e7609e40b49c8806;algorithm=MD5;sender=checkout;co[...]
