---
http_interactions:
- request:
    method: put
    uri: http://platnosci-dev5.dc2/api/v2/order/28161ZT5TF131121GUEST000P01/status.json
    body:
      encoding: US-ASCII
      string: ! '{"OpenPayU":{"OrderStatusUpdateRequest":{"order_id":"28161ZT5TF131121GUEST000P01","order_status":"COMPLETED","OrderId":"28161ZT5TF131121GUEST000P01","OrderStatus":"COMPLETED"}}}'
    headers:
      content-type:
      - application/json
      openpayu-signature:
      - sender=45654;signature=a9ead1b49004e2225a7560a57e341a2f;algorithm=MD5
  response:
    status:
      code: 200
      message: OK
    headers:
      openpayu-signature:
      - signature=530f2a4d86abaf8d1cbf0acb54b6effc;algorithm=MD5;sender=checkout;content=DOCUMENT;
      x-openpayu-signature:
      - signature=530f2a4d86abaf8d1cbf0acb54b6effc;algorithm=MD5;sender=checkout;content=DOCUMENT;
      content-language:
      - pl
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"OpenPayU":{"OrderStatusUpdateResponse":{"Status":{"StatusCode":"SUCCESS","StatusDesc":"Request
        successful"}}}}'
  recorded_at: Thu, 21 Nov 2013 14:32:35 GMT
recorded_with: VCR 2.6.0
